@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}